#    Backup files     #
#######################
*~
*backup
*.synctex.gz
*#
*.zip

# LateX Auxilary Files #
########################
*.aux
*.bbl
*.blg
*.dvi
*.log
*.toc
*.lof
*.lot
*.out
*.bak
*.fdb_latexmk
*.nav
*.snm
*.synctex
*.xwm
*.tdo

# Log files
##################################
!analysis/income/log/*.log
analysis/bin/ate/log/
scripts/analysis/abc/ate/log/
scripts/analysis/care/ate/log/
scripts/analysis/abc/balance_tables/log/
scripts/analysis/care/balance_tables/log/
scripts/analysis/abccare/balance_tables/log/

# Python Compiled Code #
########################
*.pyc

# Image Files #
###############
#*png
*pdf
*svg
!draft/output/crime/regfuture_black_0.pdf
!draft/output/crime/regfuture_black_1.pdf

# Data Files #
##############
analysis/income/data/*.dta
analysis/income/data/*.csv
scripts/analysis/abc/sampling/*.csv
scripts/analysis/care/sampling/*.csv
scripts/analysis/abccare/variables_table/*.csv
scripts/analysis/abccare/variables_table/*.xlsx
scripts/analysis/abccare/variables_table/*.xls
data/hrs/
data/abccare/
data/meps/
data/nlsy/
data/psid/
*.dat
*.dta

# Tables and Figures #
######################
analysis/income/output/*
analysis/bin/ate/tables/*
analysis/bin/balance/tables/*

# Result Files #
################
scripts/abccare/cba/income/nlsy_sampling/*.csv
scripts/misc/sampling/*.csv

scripts/abc/baselinetables/rslt/*.pkl
scripts/abccare/baselinetables/rslt/*.pkl
scripts/care/baselinetables/rslt/*.pkl

scripts/abccare/cba/batch/rslt/itt/*.csv
scripts/abccare/cba/batch/rslt/matching/*.csv
scripts/abccare/cba/health/rslt/itt/*.csv
scripts/abccare/cba/health/rslt/matching/*.csv
scripts/abccare/cba/income/rslt/itt/*.csv
scripts/abccare/cba/income/rslt/matching/*.csv
scripts/abccare/cba/income/rslt/projections/*.csv

scripts/abccare/cba/ratio_irr/rslt/tables/*.csv
scripts/abccare/cba/ratio_irr/rslt/sensitivity/*.csv

scripts/abccare/cba/ratio_irr/flows/ncc_ctrl/*.csv
scripts/abccare/cba/ratio_irr/flows/ncc_noctrl/*.csv
scripts/abccare/cba/ratio_irr/flows/ncc_wctrl/*.csv
scripts/abccare/cba/ratio_irr/flows/p0_ctrl/*.csv
scripts/abccare/cba/ratio_irr/flows/p0_noctrl/*.csv
scripts/abccare/cba/ratio_irr/flows/p0_wctrl/*.csv
scripts/abccare/cba/ratio_irr/flows/p0_match/*.csv
scripts/abccare/cba/ratio_irr/flows/p1_ctrl/*.csv
scripts/abccare/cba/ratio_irr/flows/p1_noctrl/*.csv
scripts/abccare/cba/ratio_irr/flows/p1_wctrl/*.csv
scripts/abccare/cba/ratio_irr/flows/p1_match/*.csv

# Store files #
###############
*DS_Store
*Rhistory
*data_cache*

# Microsoft office #
####################
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xslx

